.header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.navLink {
  display: inline-block;
  text-align: center;

  padding: 5px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.56px;
}

.navLink:not(:last-child) {
  margin-right: 20px;
}

.navLink:focus,
.navLink:hover {
  color: rgb(235, 78, 112);
}
